body {
}

.cajaLogin {
    border:groove;
    box-shadow: 0px 0px 25px 5px #808080;
    border-radius: 10px;
}

.caja {
    margin-top: 300px !important;
    margin-left: 300px !important;
    margin-right: 300px !important;
}

.imgLogin {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/1a/b8/46/6d/london-stock.jpg");
    background-repeat: no-repeat;
    height: 300px;
}

.tituloLogin
{
    color:dodgerblue;
}